sudo: false
language: php

php:
  - 7.1
  - 7.2

cache:
  directories:
    - ~/.composer

install: true

before_script:
  - composer install

script:
  - vendor/bin/parallel-lint --exclude vendor/ -e php,module,inc,install,profile,theme .
  - vendor/bin/phpcs --ignore=vendor/ --standard=vendor/drupal/coder/coder_sniffer/Drupal/ruleset.xml --extensions=php,module,inc,install,profile,theme --report=full --warning-severity=0 .
